### Import your libraries

In [295]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt

### Load your dataset

In [176]:
df = pd.read_csv('HR_Missing_Vslues.csv')

### Explore your data 

* First 5 recods
* Last 5 records 
* Check data type
* Show statistical summary 
* Is there any missing values ?
* Applay two more data analysis from your choose

In [3]:
df.head()

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
4,NaN,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0

In [4]:
df.tail()

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,NaN,10010,220450.0,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
310,NaN,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0

In [12]:
df.dtypes

Employee_Name         object
EmpID                  int64
Salary               float64
PositionID             int64
Position              object
DOB                   object
Sex                   object
MaritalDesc           object
RaceDesc              object
DateofHire            object
DateofTermination     object
Department            object
ManagerName           object
ManagerID            float64
RecruitmentSource     object
Absences             float64
dtype: object

In [23]:
df.describe()

              EmpID         Salary  PositionID   ManagerID    Absences
count    311.000000     249.000000  311.000000  303.000000  280.000000
mean   10156.000000   67972.662651   16.845659   14.570957   10.128571
std       89.922189   22995.908395    6.223419    8.078306    5.946407
min    10001.000000   45046.000000    1.000000    1.000000    1.000000
25%    10078.500000   55315.000000   18.000000   10.000000    4.750000
50%    10156.000000   62957.000000   19.000000   15.000000   10.000000
75%    10233.500000   71707.000000   20.000000   19.000000   15.250000
max    10311.000000  220450.000000   30.000000   39.000000   20.000000

In [20]:
df.isna().sum()

Employee_Name         93
EmpID                  0
Salary                62
PositionID             0
Position               0
DOB                   31
Sex                   62
MaritalDesc            0
RaceDesc               0
DateofHire             0
DateofTermination    207
Department             0
ManagerName            0
ManagerID              8
RecruitmentSource      0
Absences              31
dtype: int64

In [320]:
df.info

<bound method DataFrame.info of                 Employee_Name  EmpID    Salary  PositionID  \
0         Adinolfi, Wilson  K  10026   62506.0          19
1    Ait Sidi, Karthikeyan     10084  104437.0          27
2           Akinkuolie, Sarah  10196   64955.0          20
3                Alagbe,Trina  10088   64991.0          19
4                         NaN  10069   50825.0          19
..                        ...    ...       ...         ...
306            Woodson, Jason  10135   65893.0          20
307        Ybarra, Catherine   10301   48513.0          19
308                       NaN  10010  220450.0           6
309               Zhou, Julia  10043   89292.0           9
310                       NaN  10271   45046.0          19

                     Position       DOB Sex MaritalDesc RaceDesc DateofHire  \
0     Production Technician I  07/10/83  M       Single    White   7/5/2011
1                     Sr. DBA  05/05/75  M      Married    White  3/30/2015
2    Production Technician II  09/19/88   F     Married    White   7/5/2011
3     Production Technician I       NaN   F     Married    White   1/7/2008
4     Production Technician I  09/08/89   F    Divorced    White  7/11/2011
..                        ...       ...  ..         ...      ...        ...
306  Production Technician II  05/11/85  M       Single    White   7/7/2014
307   Production Technician I       NaN   F      Single    Asian   9/2/2008
308                       CIO       NaN   F      Single    White  4/10/2010
309              Data Analyst  02/24/79   F      Single    White  3/30/2015
310   Production Technician I  08/17/78   F     Widowed    Asian  9/29/2014

    DateofTermination         Department     ManagerName  ManagerID  \
0                 NaN  Production         Michael Albert       22.0
1           6/16/2016              IT/IS      Simon Roup        4.0
2           9/24/2012  Production         Kissy Sullivan       20.0
3                 NaN  Production           Elijiah Gray       16.0
4            9/6/2016  Production         Webster Butler       39.0
..                ...                ...             ...        ...
306               NaN  Production         Kissy Sullivan       20.0
307         9/29/2015  Production         Brannon Miller       12.0
308               NaN              IT/IS      Janet King        2.0
309               NaN              IT/IS      Simon Roup        4.0
310               NaN  Production          David Stanley       14.0

     RecruitmentSource  Absences
0             LinkedIn       1.0
1               Indeed      17.0
2             LinkedIn       3.0
3               Indeed      15.0
4        Google Search       2.0
..                 ...       ...
306           LinkedIn      13.0
307      Google Search       4.0
308  Employee Referral      16.0
309  Employee Referral       NaN
310           LinkedIn       2.0

[311 rows x 16 columns]>

In [321]:
df.isna()

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
307,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
308,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False
309,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True
310,True,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

## An extra chart that I liked so I didn't delete it :)

In [319]:
fig= px.bar(x=df['Sex'], y=df['Salary'],title="Compare Salary with Gender",color=df['Department'],barmode="group")
fig.update_layout(
    title_font_color="#3D0A7D")

fig.update_layout(title={'x':0.5,
            'xanchor': 'center'
        })
fig.update_layout(
    xaxis_title="Gender", yaxis_title="Salary"
)
fig.show()

### Do the following steps for each column with missing values.

* Identity the column 
* How much precentage the missing value represents 
* What is the best way to handle these missing values and why
* Apply yourr method to the column

In [28]:
df.isnull().mean() * 100

Employee_Name        29.903537
EmpID                 0.000000
Salary               19.935691
PositionID            0.000000
Position              0.000000
DOB                   9.967846
Sex                  19.935691
MaritalDesc           0.000000
RaceDesc              0.000000
DateofHire            0.000000
DateofTermination    66.559486
Department            0.000000
ManagerName           0.000000
ManagerID             2.572347
RecruitmentSource     0.000000
Absences              9.967846
dtype: float64

# best way to handle  missing values

- With regard to the employee's name column, we can use the employee's ID to enter the company's system and extract   the employee's name, or to ask about the employee to find out his name. In the event that we are unable to know     his name, there is no problem with keeping the field empty as long as it does not cause any damage during data     analysis


- With regard to the DOB column, we can search for it in the company's system or ask the employee directly. In the event that we are unable to know the date and need to fill in the field, we can put a specific date so that this date represents "Other".


- As for the DateofTermination column, the percentage of NaN values is very high, because there are some employees who did not quit from their jobs, so they are not considered wrong values, so we will keep the values as they are


- With regard to the ManagerID column, the percentage of empty values is very small. We can ask about the ManagerID if we do not know it, and there is no harm in keeping the cell blank, so we will keep it. If it causes damage, we can remove the row.

## fill salary column

- Salary column. We can calculate the average salaries for employees based on department and gender, and fill in the blank fields with the results.

In [58]:
Departments= list(df['Department'].unique())
Departments

['Production       ',
 'IT/IS',
 'Software Engineering',
 'Admin Offices',
 'Sales',
 'Executive Office']

In [285]:
gender=['F','M ']
for sex in gender:
    for i in Departments:
        m1 = (df['Sex'] == sex)&(df['Department']==i)
        df.loc[m1,'Salary'] = df.loc[m1,'Salary'].fillna(df.loc[m1,'Salary'].median())

In [286]:
df[(df['Department']=='Sales')]

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
32,"Bunbury, Jessica",10188,74326.0,3,Area Sales Manager,06/01/64,F,Married,Black or African American,8/15/2011,8/2/2014,Sales,John Smith,17.0,Google Search,19.0
40,"Carter, Michelle",10040,61844.0,3,Area Sales Manager,05/15/63,F,Single,White,8/18/2014,NaN,Sales,John Smith,17.0,Indeed,7.0
45,NaN,10200,64397.0,3,Area Sales Manager,06/11/70,M,Single,Black or African American,5/14/2012,NaN,Sales,Lynn Daneault,21.0,Employee Referral,17.0
60,"Daneault, Lynn",10099,65729.0,21,Sales Manager,04/19/90,F,Single,White,5/5/2014,NaN,Sales,Debra Houlihan,15.0,Indeed,8.0
67,"Delarge, Alex",10306,61568.0,3,Area Sales Manager,11/02/75,M,Single,Two or more races,9/29/2014,NaN,Sales,John Smith,17.0,Indeed,5.0
72,"Dietrich, Jenna",10304,61844.0,3,Area Sales Manager,05/14/87,F,Single,White,2/20/2012,NaN,Sales,John Smith,17.0,Website,17.0
77,"Driver, Elle",10006,74241.0,3,Area Sales Manager,11/08/88,F,Single,White,1/10/2011,NaN,Sales,Lynn Daneault,21.0,Indeed,14.0
95,"Forrest, Alex",10305,70187.0,3,Area Sales Manager,07/07/75,M,Married,White,9/29/2014,8/19/2018,Sales,Lynn Daneault,21.0,Employee Referral,7.0
98,NaN,10258,67251.0,3,Area Sales Manager,08/28/63,NaN,Single,Black or African American,9/6/2011,NaN,Sales,Lynn Daneault,21.0,CareerBuilder,7.0
104,"Gill, Whitney",10142,59370.0,3,Area Sales Manager,07/10/71,M,Widowed,Black or African American,7/7/2014,9/5/2015,Sales,John Smith,17.0,CareerBuilder,7.0
107,"Givens, Myriam",10255,61555.0,3,Area Sales Manager,NaN,F,Single,White,2/16/2015,NaN,Sales,Lynn Daneault,21.0,Indeed,20.0
121,NaN,10109,71707.0,3,Area Sales Manager,02/09/69,M,Single,Two or more races,3/7/2012,10/31/2014,Sales,John Smith,17.0,LinkedIn,20.0
128,NaN,10167,64397.0,3,Area Sales Manager,09/14/88,M,Married,American Indian or Alaska Native,8/18/2014,NaN,Sales,John Smith,17.0,Indeed,9.0
131,"Houlihan, Debra",10272,180000.0,11,Director of Sales,03/17/66,F,Married,White,5/5/2014,NaN,Sales,Janet King,2.0,LinkedIn,19.0
147,"Kampew, Donysha",10244,68999.0,21,Sales Manager,11/11/89,NaN,Single,White,11/7/2011,4/24/2014,Sales,Debra Houlihan,15.0,Google Search,2.0
149,NaN,10231,65310.0,3,Area Sales Manager,11/27/79,M,Single,White,8/19/2013,NaN,Sales,Lynn Daneault,21.0,Indeed,13.0
155,"Kreuger, Freddy",10165,64397.0,3,Area Sales Manager,02/24/69,M,Single,Black or African American,3/7/2011,NaN,Sales,John Smith,17.0,Diversity Job Fair,20.0
166,"Leruth, Giovanni",10103,70468.0,3,Area Sales Manager,12/27/88,M,Separated,Black or African American,4/30/2012,NaN,Sales,John Smith,17.0,Website,16.0
184,"McKinzie, Jac",10202,63291.0,3,Area Sales Manager,NaN,M,Married,Two or more races,7/6/2016,NaN,Sales,Lynn Daneault,21.0,Website,7.0
202,NaN,10042,63695.0,3,Area Sales Manager,03/31/89,F,Single,Two or more races,7/8/2013,NaN,Sales,Lynn Daneault,21.0,Indeed,2.0
207,"Onque, Jasmine",10121,63051.0,3,Area Sales Manager,05/11/90,F,Single,White,9/30/2013,NaN,Sales,Lynn Daneault,21.0,Indeed,1.0
210,"Ozark, Travis",10041,68829.0,3,Area Sales Manager,05/19/82,M,Single,White,1/5/2015,NaN,Sales,John Smith,17.0,Website,18.0
223,NaN,10124,61844.0,3,Area Sales Manager,08/29/88,F,Married,Black or African American,1/9/2012,NaN,Sales,Lynn Daneault,21.0,Website,9.0
230,NaN,10140,61809.0,3,Area Sales Manager,10/12/54,M,Married,White,5/12/2014,NaN,Sales,John Smith,17.0,CareerBuilder,4.0
258,"Smith, John",10291,72992.0,21,Sales Manager,08/16/84,M,Divorced,Black or African American,5/18/2014,NaN,Sales,Debra Houlihan,15.0,Diversity Job Fair,16.0
267,NaN,10307,58273.0,3,Area Sales Manager,05/09/74,M,Married,White,5/12/2014,NaN,Sales,Lynn Daneault,21.0,Website,5.0
270,NaN,10241,60120.0,3,Area Sales Manager,05/12/89,F,Married,Black or African American,9/27/2010,NaN,Sales,John Smith,17.0,Indeed,18.0
278,"Terry, Sharlene",10161,58370.0,3,Area Sales Manager,05/07/65,F,Single,Black or African American,9/29/2014,NaN,Sales,Lynn Daneault,21.0,Indeed,18.0
282,"Torrence, Jack",10013,64397.0,3,Area Sales Manager,01/15/68,M,Separated,White,1/9/2006,NaN,Sales,Lynn Daneault,21.0,Indeed,6.0
288,"Valentin,Jackie",10205,57859.0,3,Area Sales Manager,05/23/91,NaN,Married,Two or more races,7/5/2011,NaN,Sales,John Smith,17.0,Indeed,16.0
291,"Villanueva, Noah",10253,55875.0,3,Area Sales Manager,07/11/89,M,Single,Asian,3/5/2012,NaN,Sales,John Smith,17.0,Website,11.0

In [287]:
df.isnull().mean() * 100

Employee_Name        29.903537
EmpID                 0.000000
Salary                1.929260
PositionID            0.000000
Position              0.000000
DOB                   9.967846
Sex                   9.324759
MaritalDesc           0.000000
RaceDesc              0.000000
DateofHire            0.000000
DateofTermination    66.559486
Department            0.000000
ManagerName           0.000000
ManagerID             2.572347
RecruitmentSource     0.000000
Absences              9.967846
dtype: float64

## Fill Sex column

- In the gender column, I specified the gender by the name. I used gender_guesser.detector to specify the gender by the name and filled in the empty fields. Unfortunately, some of the empty gender fields do not contain a name. Here, we can search for the employee by the job number.

In [195]:
pip install gender-guesser

Collecting gender-guesser
  Downloading gender_guesser-0.4.0-py2.py3-none-any.whl (379 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 379.3/379.3 kB 1.5 MB/s eta 0:00:00a 0:00:01
Installing collected packages: gender-guesser
Successfully installed gender-guesser-0.4.0
Note: you may need to restart the kernel to use updated packages.

In [237]:
df[df['Sex'].isna()]

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
9,NaN,10250,NaN,14,IT Support,01/07/88,NaN,Divorced,White,1/5/2015,NaN,IT/IS,Peter Monroe,7.0,Indeed,16.0
15,"Bates, Norman",10061,57834.0,19,Production Technician I,10/18/81,NaN,Single,White,2/21/2011,8/4/2017,Production,Kelley Spirea,18.0,Google Search,20.0
16,"Beak, Kimberly",10023,70131.0,20,Production Technician II,04/17/66,NaN,Married,White,7/21/2016,NaN,Production,Kelley Spirea,18.0,Employee Referral,16.0
18,NaN,10245,110000.0,8,Database Administrator,04/04/86,NaN,Single,White,7/7/2014,9/12/2015,IT/IS,Simon Roup,4.0,Google Search,8.0
27,"Bozzi, Charles",10175,74312.0,18,Production Manager,03/10/70,NaN,Single,Asian,9/30/2013,8/7/2014,Production,Janet King,2.0,Indeed,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,"Valentin,Jackie",10205,57859.0,3,Area Sales Manager,05/23/91,NaN,Married,Two or more races,7/5/2011,NaN,Sales,John Smith,17.0,Indeed,16.0
291,"Villanueva, Noah",10253,55875.0,3,Area Sales Manager,07/11/89,NaN,Single,Asian,3/5/2012,NaN,Sales,John Smith,17.0,Website,11.0
293,"Volk, Colleen",10022,49773.0,19,Production Technician I,06/03/86,NaN,Married,White,9/26/2011,2/8/2016,Production,Kelley Spirea,18.0,Google Search,18.0
300,"Whittier, Scott",10072,58371.0,19,Production Technician I,05/24/87,NaN,Single,White,1/10/2011,5/15/2014,Production,Webster Butler,39.0,LinkedIn,11.0
303,"Williams, Jacquelyn",10264,59728.0,19,Production Technician I,10/02/69,NaN,Single,Black or African American,1/9/2012,6/27/2015,Production,Ketsia Liebig,19.0,Diversity Job Fair,16.0

In [292]:
import gender_guesser.detector as gender
d = gender.Detector()

for i, row in df.iterrows():
    name=str(df.at[i,'Employee_Name']).strip().split(', ')
    if len(name)==1:
        name=str(df.at[i,'Employee_Name']).strip().split(',')
    if len(name)>=2 and (d.get_gender(name[1].strip())=='female' or d.get_gender(name[1].strip())=='mostly_female'):
        df.at[i,'Sex'] = 'F'
    elif len(name)>=2 and (d.get_gender(name[1].strip())=='male' or d.get_gender(name[1].strip())=='mostly_male'):
        df.at[i,'Sex'] = 'M '

In [283]:
df[df['Sex'].isna()]

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
9,NaN,10250,NaN,14,IT Support,01/07/88,NaN,Divorced,White,1/5/2015,NaN,IT/IS,Peter Monroe,7.0,Indeed,16.0
18,NaN,10245,110000.0,8,Database Administrator,04/04/86,NaN,Single,White,7/7/2014,9/12/2015,IT/IS,Simon Roup,4.0,Google Search,8.0
28,NaN,10177,53492.0,19,Production Technician I,08/24/90,NaN,Married,White,4/2/2012,6/15/2013,Production,David Stanley,14.0,Google Search,6.0
39,"Carr, Claudia N",10082,NaN,27,Sr. DBA,06/06/86,NaN,Single,Black or African American,6/30/2016,NaN,IT/IS,Simon Roup,4.0,LinkedIn,7.0
44,"Chang, Donovan E",10154,NaN,19,Production Technician I,08/24/83,NaN,Single,White,7/8/2013,NaN,Production,Webster Butler,NaN,LinkedIn,4.0
47,NaN,10168,64816.0,19,Production Technician I,05/31/88,NaN,Single,Black or African American,10/3/2011,NaN,Production,Ketsia Liebig,19.0,Indeed,3.0
51,"Clukey, Elijian",10029,50373.0,19,Production Technician I,08/26/80,NaN,Married,White,7/6/2016,NaN,Production,Brannon Miller,12.0,Employee Referral,5.0
83,NaN,10299,56847.0,20,Production Technician II,08/25/89,NaN,Separated,White,7/7/2014,NaN,Production,Michael Albert,22.0,Indeed,5.0
98,NaN,10258,67251.0,3,Area Sales Manager,08/28/63,NaN,Single,Black or African American,9/6/2011,NaN,Sales,Lynn Daneault,21.0,CareerBuilder,7.0
105,NaN,10283,54933.0,19,Production Technician I,08/09/74,NaN,Married,Black or African American,4/2/2012,6/25/2015,Production,Webster Butler,39.0,Diversity Job Fair,15.0
113,NaN,10101,NaN,14,IT Support,04/16/81,NaN,Separated,White,1/5/2015,NaN,IT/IS,Peter Monroe,7.0,Employee Referral,11.0
119,NaN,10059,63813.0,19,Production Technician I,NaN,NaN,Divorced,White,2/21/2011,1/11/2014,Production,Kelley Spirea,18.0,CareerBuilder,17.0
122,NaN,10125,54828.0,19,Production Technician I,03/23/77,NaN,Married,White,11/28/2011,NaN,Production,Michael Albert,22.0,Google Search,13.0
130,NaN,10112,97999.0,8,Database Administrator,02/21/84,NaN,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Indeed,4.0
136,"Huynh, Ming",10160,68182.0,20,Production Technician II,09/22/76,NaN,Divorced,White,2/21/2011,4/1/2013,Production,Amy Dunn,11.0,Google Search,18.0
145,"Johnston, Yen",10036,NaN,20,Production Technician II,09/08/69,NaN,Single,White,7/7/2014,NaN,Production,Brannon Miller,12.0,LinkedIn,1.0
147,"Kampew, Donysha",10244,68999.0,21,Sales Manager,11/11/89,NaN,Single,White,11/7/2011,4/24/2014,Sales,Debra Houlihan,15.0,Google Search,2.0
153,"Knapp, Bradley J",10208,46654.0,19,Production Technician I,11/10/77,NaN,Single,Black or African American,2/17/2014,NaN,Production,Ketsia Liebig,19.0,LinkedIn,3.0
185,NaN,10128,62659.0,19,Production Technician I,NaN,NaN,Single,Black or African American,4/2/2012,11/11/2016,Production,Kelley Spirea,18.0,Diversity Job Fair,NaN
189,"Monkfish, Erasumus",10213,58207.0,20,Production Technician II,08/17/92,NaN,Married,White,11/7/2011,NaN,Production,David Stanley,14.0,LinkedIn,14.0
190,NaN,10288,157000.0,13,IT Manager - Infra,10/05/86,NaN,Married,Black or African American,2/15/2012,NaN,IT/IS,Jennifer Zamora,5.0,Diversity Job Fair,13.0
220,NaN,10016,93554.0,9,Data Analyst,09/16/84,NaN,Married,Black or African American,11/10/2014,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
225,NaN,10225,59472.0,19,Production Technician I,06/19/61,NaN,Single,White,1/6/2014,NaN,Production,Kelley Spirea,18.0,Employee Referral,14.0
226,NaN,10262,46430.0,19,Production Technician I,09/22/70,NaN,Divorced,White,9/24/2012,6/18/2013,Production,Kissy Sullivan,20.0,Indeed,16.0
237,NaN,10020,63353.0,19,Production Technician I,01/28/85,NaN,Widowed,White,7/8/2013,NaN,Production,Brannon Miller,12.0,Employee Referral,4.0
253,NaN,10091,52087.0,19,Production Technician I,08/24/85,NaN,Married,White,8/19/2013,NaN,Production,Amy Dunn,11.0,LinkedIn,15.0
261,NaN,10119,66593.0,14,IT Support,03/12/73,NaN,Married,Black or African American,6/10/2011,NaN,IT/IS,Eric Dougall,6.0,LinkedIn,19.0
274,NaN,10024,92989.0,24,Software Engineer,05/06/83,NaN,Single,White,7/7/2014,NaN,Software Engineering,Alex Sweetwater,10.0,LinkedIn,1.0
288,"Valentin,Jackie",10205,57859.0,3,Area Sales Manager,05/23/91,NaN,Married,Two or more races,7/5/2011,NaN,Sales,John Smith,17.0,Indeed,16.0

In [284]:
df.isnull().mean() * 100

Employee_Name        29.903537
EmpID                 0.000000
Salary                2.572347
PositionID            0.000000
Position              0.000000
DOB                   9.967846
Sex                   9.324759
MaritalDesc           0.000000
RaceDesc              0.000000
DateofHire            0.000000
DateofTermination    66.559486
Department            0.000000
ManagerName           0.000000
ManagerID             2.572347
RecruitmentSource     0.000000
Absences              9.967846
dtype: float64

## Fill absence column

- In the absence column, I calculated the absence release according to the department and filled it in the column

In [322]:
df[df['Absences'].isna()]

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
19,NaN,10277,57483.0,19,Production Technician I,04/06/79,M,Single,Asian,7/8/2013,NaN,Production,Webster Butler,NaN,LinkedIn,NaN
22,NaN,10003,60446.0,19,Production Technician I,09/01/89,F,Married,White,7/7/2014,NaN,Production,Brannon Miller,12.0,Indeed,NaN
30,"Buccheri, Joseph",10184,65288.0,20,Production Technician II,07/28/83,M,Single,White,9/29/2014,NaN,Production,Webster Butler,NaN,Google Search,NaN
38,"Carey, Michael",10115,52846.0,19,Production Technician I,02/02/83,M,Single,Black or African American,3/31/2014,NaN,Production,Kelley Spirea,18.0,LinkedIn,NaN
49,"Cloninger, Jennifer",10275,64066.0,20,Production Technician II,08/31/81,F,Married,White,5/16/2011,1/7/2013,Production,Brannon Miller,12.0,Google Search,NaN
55,"Corleone, Vito",10019,170500.0,10,Director of Operations,03/19/83,M,Single,Black or African American,1/5/2009,NaN,Production,Janet King,2.0,Indeed,NaN
90,"Fernandes, Nilson",10308,64057.0,19,Production Technician I,10/18/89,M,Married,White,5/11/2015,NaN,Production,Amy Dunn,11.0,Indeed,NaN
139,NaN,10227,61242.0,19,Production Technician I,NaN,F,Single,Black or African American,11/5/2012,NaN,Production,David Stanley,14.0,LinkedIn,NaN
171,"Lundy, Susan",10096,67237.0,20,Production Technician II,12/26/76,F,Widowed,White,7/8/2013,9/15/2016,Production,Michael Albert,22.0,LinkedIn,NaN
177,"Manchester, Robyn",10077,62385.0,20,Production Technician II,08/25/76,F,Married,White,5/11/2016,NaN,Production,Webster Butler,NaN,LinkedIn,NaN
185,NaN,10128,62659.0,19,Production Technician I,NaN,NaN,Single,Black or African American,4/2/2012,11/11/2016,Production,Kelley Spirea,18.0,Diversity Job Fair,NaN
187,"Miller, Brannon",10116,83667.0,18,Production Manager,08/10/81,M,Single,Hispanic,8/16/2012,NaN,Production,Janet King,2.0,Indeed,NaN
188,"Miller, Ned",10298,55800.0,20,Production Technician II,06/29/85,M,Single,White,8/15/2011,9/4/2014,Production,Brannon Miller,12.0,LinkedIn,NaN
194,"Motlagh, Dawn",10254,63430.0,19,Production Technician I,07/07/84,F,Divorced,White,4/1/2013,NaN,Production,Elijiah Gray,16.0,LinkedIn,NaN
195,"Moumanil, Maliki",10120,57483.0,20,Production Technician II,12/01/74,M,Separated,Black or African American,5/13/2013,NaN,Production,Michael Albert,22.0,LinkedIn,NaN
211,"Panjwani, Nina",10148,63515.0,19,Production Technician I,05/01/79,F,Married,White,2/7/2011,1/12/2014,Production,Elijiah Gray,16.0,Google Search,NaN
220,NaN,10016,93554.0,9,Data Analyst,09/16/84,NaN,Married,Black or African American,11/10/2014,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
221,"Pham, Hong",10050,64724.0,19,Production Technician I,03/06/88,M,Married,Asian,7/5/2011,11/30/2012,Production,Brannon Miller,12.0,Google Search,NaN
229,"Rarrick, Quinn",10152,57483.0,19,Production Technician I,12/31/84,M,Divorced,White,9/26/2011,4/7/2018,Production,Michael Albert,22.0,Indeed,NaN
234,"Robertson, Peter",10224,55578.0,20,Production Technician II,07/03/72,M,Married,White,7/5/2011,2/8/2012,Production,Kissy Sullivan,20.0,Indeed,NaN
239,"Roehrich, Bianca",10149,120000.0,29,Principal Data Architect,05/27/73,F,Single,White,1/5/2015,11/10/2018,IT/IS,Simon Roup,4.0,LinkedIn,NaN
241,"Rose, Ashley",10054,60446.0,19,Production Technician I,12/05/74,F,Separated,White,1/6/2014,NaN,Production,David Stanley,14.0,Website,NaN
245,NaN,10126,86214.0,24,Software Engineer,07/24/86,F,Married,White,11/5/2012,NaN,Software Engineering,Alex Sweetwater,10.0,Indeed,NaN
255,NaN,10039,51920.0,2,Administrative Assistant,NaN,F,Single,White,5/1/2015,NaN,Admin Offices,Brandon R. LeBlanc,1.0,Website,NaN
260,"Smith, Sade",10157,58939.0,19,Production Technician I,02/02/65,F,Single,White,11/11/2013,NaN,Production,Ketsia Liebig,19.0,Employee Referral,NaN
268,"Steans, Tyrone",10147,63003.0,1,Accountant I,09/01/86,M,Single,White,9/29/2014,NaN,Admin Offices,Brandon R. LeBlanc,1.0,Indeed,NaN
272,"Sullivan, Timothy",10117,63025.0,19,Production Technician I,10/07/82,M,Married,White,1/5/2015,NaN,Production,Michael Albert,22.0,Google Search,NaN
285,"True, Edward",10102,100416.0,24,Software Engineer,06/14/83,M,Single,Black or African American,2/18/2013,4/15/2018,Software Engineering,Alex Sweetwater,10.0,Diversity Job Fair,NaN
297,"Wallace, Theresa",10293,50274.0,19,Production Technician I,08/02/80,F,Single,White,8/13/2012,9/1/2015,Production,Elijiah Gray,16.0,CareerBuilder,NaN
305,"Wolk, Hang T",10174,60446.0,20,Production Technician II,NaN,F,Single,White,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,NaN
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN

In [328]:
for i in Departments:
    m1 =(df['Department']==i)
    print(i+" "+str(df.loc[m1,'Absences'].median()))
    df.loc[m1,'Absences'] = df.loc[m1,'Absences'].fillna(df.loc[m1,'Absences'].median())

Production        10.0
IT/IS 10.0
Software Engineering 8.0
Admin Offices 6.0
Sales 11.0
Executive Office 10.0

In [329]:
df.isnull().mean() * 100

Employee_Name        29.903537
EmpID                 0.000000
Salary                1.929260
PositionID            0.000000
Position              0.000000
DOB                   9.967846
Sex                   9.324759
MaritalDesc           0.000000
RaceDesc              0.000000
DateofHire            0.000000
DateofTermination    66.559486
Department            0.000000
ManagerName           0.000000
ManagerID             2.572347
RecruitmentSource     0.000000
Absences              0.000000
dtype: float64